<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Thymeleaf Demo</title>
    <link rel="stylesheet" th:href="@/css/demo.css">
</head>

<body style="background-color:powderblue;">

<p th:text="'Name with id and class: ' + ${name}" id="name" class="funny"/>
<p th:text="'Name class: ' + ${name}"  class="funny"/>
<p th:text="'Name with no class and no id: ' + ${name}" />

<h2>HTML Forms</h2>

<form style="background-color:powderblue;" action="/action_page.php">
    <label for="fname">First name:</label><br>
    <input type="text" id="fname" name="fname" value="Alex" ><br>
    <label for="lname">Last name:</label><br>
    <input type="text" id="lname" name="lname" value="Kamo" ><br><br>
    <input type="submit" value="Submit">
</form>

<p>If you click the "Submit" button, the form-data will be sent to a page called "/action_page.php".</p>

</body>

</html>