<!DOCTYPE html>
<html>
<head>
    <title>New Home Page</title>
    <link rel="stylesheet" href="style.css">
</head>
<body style="background-image: url(https://i.pinimg.com/originals/4e/7a/52/4e7a52698abb9054724cf7a06f84cb74.jpg);">
<header>
    <div class="header_menu">
        <div class="logo">
            <h1>ALEXKAMO</h1>
        </div>
        <div class="menu_list">
            <ul>
                <li><a href="##">Home</a></li>
                <li><a href="##">About</a></li>
                <li><a href="##">Services</a></li>
                <li><a href="##">Contact</a></li>
                <li><a href="##">Gallery</a></li>
            </ul>
        </div>
    </div>

    <div class="header_content">
        <h2>AWESOME HOME PAGE</h2>
        <h1>WELCOME</h1>

        <button><a href="##">CONTACT</a></button>
    </div>
</header>
</body>
</html>