<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>New Home Page</title>
    <link rel="stylesheet" th:href="@{/template/style.css">
</head>
<body>
<header>
    <div class="header_menu">
        <div class="logo">
            <h1>Logoname</h1>
        </div>
        <div class="menu_list">
            <ul>
                <li><a href="##">Home</a></li>
                <li><a href="##">About</a></li>
                <li><a href="##">Services</a></li>
                <li><a href="##">Contact</a></li>
                <li><a href="##">Gallery</a></li>
            </ul>
        </div>
    </div>

    <div class="header_content">
        <h2>CREATE AWESOME WEBSITES</h2>
        <h1>WEL COME</h1>

        <button><a href="##">CONTACT</a></button>
    </div>
</header>
</body>
</html>