<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>
        beautiful and simple website using html only -- fullywrold web tutorials
    </title>
</head>
<body style="background-image: url(https://th.bing.com/th/id/R.8979b7ed697ff6215b01a04f7eef01d4?rik=1SrGEBRlG34wwg&pid=ImgRaw&r=0)">
<br />
<h3 align="center">
    <font face="Lato" color="pink" size="6">HI, USER</font>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <font face="cinzel" color="#00bfff" size="4">
        <a href="#">HOME</a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="#">VIDEOS</a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="#">PORTFOLIO</a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="#">BLOG</a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="#">CONTACT US</a>
    </font>
</h3>
<br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
<h1 align="center">
    <font face="Lato" color="#017bf5" size="7">
        BEAUTIFUL  AND  SIMPLE  WEB  PAGE
    </font>
</h1>
<h3 align="center">
    <font face="Lato" color="#faebd7" size="5">
        INTRO  WITH  MENTOR  AHMET
    </font>
</h3>
<br />
<h3 align="center">
    <a href="#">
        <font face="Lato" color="#000">GET STARTED</font>
    </a>&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="#">
        <font face="Lato" color="#fff">SUBSCRIBE US</font>
    </a>
</h3>
</body>
</html>